/* #countLabel {
    display: block;
    text-align: center;
    font-size: 50px;
} 3*/

/* #myDiv{
    background-color: lightgreen;
    width: 100px;
    height: 100px;
} 14*/

/* #innerDiv{
    background-color: lightgreen;
    width: 100px;
    height: 100px;
    border: 1px solid;
} 

#outerDiv{
    background-color: lightgreen;
    width: 200px;
    height: 200px;
}  15*/

/* #myImg {
    width: 350px;
}  16*/

/* #myDiv {
    background-color: lightgreen;
    width: 100px;
    height: 100px;
    border: 1px solid;
    position: relative;
}  17*/

/* #myDiv {
    background-color: lightgreen;
    width: 100px;
    height: 100px;
    position: relative;
}  18*/

/* #myCanvas {
    border: 1px solid black;
}  19*/

/* .timerBtn {
    width: 80px;
    height: 30px;
    border: 3px solid;
    border-radius: 12px;
    background-color: #333333;
    color: white;
    cursor: pointer;
    font-family: consolas, monospace;
}

#timeDisplay {
    font-size: 75px;
    color: #048600;
    font-family: consolas, monospace;
}
#timeContainer {
    text-align: center;
    border: 3px solid;
    border-radius: 25px;
    background-color: #222222;
}  22*/

/* .choiceBtn {
    line-height: 30px;
    width: 150px;
}

#gameDiv {
    border: 3px solid;
    border-radius: 20px;
    padding: 10px;
    background-color: lightgray;
    text-align: center;
}  23*/

/* .cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}
#gameContainer{
    text-align: center;
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}  24*/